/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
   #padding-top: 0px;
   #background-color: white;
   #background-color: transparent;
   #background-color: black;
   #background-color: blue;
}




@media (min-width: 900px) {
	body {
    padding-top: 40px;
    font-size: 1rem;
  }

	/*.navbar_sec{   background: transparent;}*/

    .navbar-nav {
      #  margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
        /* text-shadow: 0.075em 0.075em 0.075em #333;*/

    }


    .navbar-fnt {
       color: firebrick;
    }
    .navbar-nav>li {
    #    margin: 0 auto;
        display: table-cell;
     #   float: none;
     #   text-align: left;
     #   font-size: 2rem important;
        color: firebrick;
    }





}


/* ------------------------------------------------------------------------------------------------------- */
/* navbar */


/* Modifica a barra de navegação superior */
.navbar {   min-height: 30px; background-color: #D8D8D8; position: absolute; font-size: 18px ; top: 0px  }
/* Modifica cor da barra de navegação superior */
.navbar-brand 		{ font-family: 'Lato', sans-serif; color: #000000; font-size: 13px;  }
.navbar-brand:hover { background-color: red; color:white; }
/* Change secondary navigation bar */
.navbar_sec{   top: 3rem;   padding-left: 3.5em  }
/*.navbar-toggler{ background: white ; 	}*/



.dropdown:hover .dropdown-menu{
    display:block;
    background-color: #D3D3D3;
    /* Ajusta a distância entre o menu pull down e os links da barra de navegação secundária */
    /*top: 77px;*/
    text-shadow: 0.07em 0.07em 0.07em #333;

}












/* Altera ícone de localização quando o mouse passa sobre ele*/
#location_icon			{ height: 30px; 	}
#location_icon:hover 	{ height: 30px; 	}
#location_icon.shrink 	{ height: 30px; 	}

.english_version_flag.location_icon:hover {    height: 53px; }



/************************************************************/
/* Realça cores da imagem quando o mouse passa sobre o ícone*/
.english_version_flag 		  { -webkit-filter: grayscale(60%);}
.english_version_flag:hover { -webkit-filter: grayscale(0%); background-color: #FFCCCC; }
.unicamp_logo 				      {
  -webkit-filter: grayscale(100%);
/*
  left: 0%;
  top:2px ;
  position: relative;
  */
/*  position:relative; top:2px ;
  z-index: 1;
  text-align: center;
*/
/* test to center unicamp logo.
top:2px ;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
left: 50%;
position: absolute;
  padding: 0px;
  */
}



.unicamp_logo:hover			    { -webkit-filter: grayscale(0%);}

.dropdown:hover .dropdown-item:hover      { color: #860000;  }
.dropdown:hover #navbarDropdown  { color: #860000;  background-color: #D3D3D3;     }

#ntext                      	{ color: #860000;  }
#ntext:hover                	{ color: #860000;  background-color: #D3D3D3;  }
#navbarDropdown    	{ color: #860000;    }
#navbarDropdown:hover{ color: #860000;  background-color: #D3D3D3;   }

.carousel-item {
  /*	z-index: -1;*/
  background: no-repeat center center scroll;
	margin-top:5.3rem;
  height: 65vh;
  min-height: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.carousel-item:before {
    -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(to bottom ,transparent,black);
	opacity: 1;
}

.carousel-item:after {
    -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    position: absolute;
    top: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    outline: gray;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 80%;
    bottom: 15%;
}


.card-img-top {

/*
  width: 19rem;
  height: 20vw;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
*/


  width: 18rem;
  margin-left: auto;
  margin-right: auto;


/*



width: 50%;
    height: 15vw;
    object-fit: cover;
*/
}
